/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#app {
	min-height:100%;
	height:100%;
}

.addbars {
	height:5%;
}

#spreadsheet {
	height:90%;
}













